// colors
$peach: #f8b195;
$sunset-pink: #f67280;
$sunset-pink-dark: #c06c84;
$purple: #6c5b7b;
$blue: #355c7d;

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    background: linear-gradient($purple, $blue);
    border: 4px solid $blue;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 6em;
    color: $sunset-pink;
}

.card--selected {
    border: 4px solid $sunset-pink;
}

.confirmation {
    font-size: 2em;
}
